.error-alert {
  display: flex;
  justify-content: center;
  padding: 0 2vw 0 4vw;
}

.error-message {
  font-size: 2vh;
  list-style: circle;
  color: rgb(182, 48, 0);
}

@media(max-width:599px) {
  .error-alert {
    padding-top: 3vh;
  }
}