* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #fff;
  z-index: 10;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.furima-icon {
  width: 13vw;
  margin-right: 10vw;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding: 0 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #3ccace;
  padding: 8px;
}

.search-icon {
  font-size: 20px;
  color: #fff;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 0.5vh;
}

.lists-left {
  display: flex;
  min-width: 200px;
}

.lists-item {
  position: relative;
}

.category {
  margin-right: 2vw;
}

.category-list {
  color: #333333;
  padding: 5px;
  transition: 0.3s;
}

.category-list:hover {
  background-color: #3ccace;
  color: white;
}

.category-list.open {
  background-color: #3ccace;
  color: white;
}

.category-parent {
  position: absolute;
  background-color: #3ccace;
  width: 205px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.category-parent.open {
  visibility: visible;
  opacity: 1;
}

.category-child {
  font-size: 16px;
  transition: 0.3s;
}

.category-child:hover {
  background-color: #6ab;
}

.category-child a {
  display: inline-block;
  width: 100%;
  border-top: 1px solid #ddd;
  padding: 5px;
  text-decoration: none;
  color: white;
}

.brand-list {
  text-decoration: none;
  color: #333333;
  display: inline-block;
  padding: 5px;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.user-nickname {
  text-decoration: none;
  margin-right: 2vw;
  color: #333333;
  font-weight: bold;
  display: inline-block;
  padding: 5px;
}

.logout {
  text-decoration: none;
  color: #333333;
  display: inline-block;
  padding: 5px;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 2vw;
  color: #333333;
  display: inline-block;
  padding: 5px;
}

.sign-up {
  text-decoration: none;
  color: #333333;
  display: inline-block;
  padding: 5px;
}

.menu-trigger {
  display: none;
}

.sp-nav {
  display: none;
}

/* スマホ用レスポンシブcss */
@media(max-width:767px) {
  .top-page-header {
    padding: 2vh 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
  }

  .furima-icon {
    width: 100px;
    margin-right: 0;
  }

  .search-form {
    display: none;
  }

  .nav {
    display: none;
  }

  .menu-trigger {
    display: inline-block;
    width: 32px;
    height: 24px;
    cursor: pointer;
    position: fixed;
    right: 30px;
    z-index: 100;
  }

  .menu-trigger span {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #3ccace;
    transition: all .5s;
  }

  .menu-trigger.active span {
    background-color: #fff;
  }

  .menu-trigger span:nth-of-type(1) {
    top: 0;
  }

  .menu-trigger.active span:nth-of-type(1) {
    transform: translate(-215px, 10px) rotate(-45deg);
  }

  .menu-trigger span:nth-of-type(2) {
    top: 10px;
  }

  .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
  }

  .menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }

  .menu-trigger.active span:nth-of-type(3) {
    transform: translate(-215px, -10px) rotate(45deg);
  }

  .sp-nav {
    display: block;
    width: 230px;
    height: 100%;
    background-color: #3ccace;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    transform: translateX(230px);
    transition: all 0.5s;
    overflow-y: scroll;
  }

  .sp-nav.open {
    transform: translateZ(0);
  }

  .sp-search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 10px;
  }

  .sp-input-box {
    outline: none;
    border: none;
    width: 180px;
    padding: 0 5px;
    line-height: 30px;
  }

  .sp-search-button {
    width: 30px;
    height: 30px;
    background-color: #3ccace;
    border: 2px solid #eee;
  }

  .sp-search-icon {
    font-size: 16px;
    color: #fff;
  }

  .sp-nav-item {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-top: 2px solid #ddd;
    padding: 5px 15px;
  }

  .sp-nav-item .sp-arrow {
    margin-left: 10px;
  }

  .sp-nav-item.open .sp-arrow {
    transform: rotate(90deg);
  }

  .sp-link {
    padding: 0 15px;
  }

  .sp-link a {
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 5px 0;
  }

  .sp-nav-parent {
    display: none;
    background-color: #6ab;
  }

  .sp-nav-parent.open {
    display: block;
  }

  .sp-nav-child {
    color: #fff;
    border-top: 1px solid #ccc;
    padding-left: 15px;
  }

  .sp-nav-child a {
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 10px 0;
  }

  .overlay {
    content: "";
    display: block;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .overlay.open {
    width: 100%;
    height: 100%;
    opacity: 1;
    position: fixed;
  }
}